panelview,  
.panel-arrowcontent{ 
  background: #15141a !important;  
  color: firebrick !important;
}
#reload-button,#back-button,#forward-button,#star-button-box,#reader-mode-button,#tabs-newtab-button
,#history-panel
{
  display: none;
}